.App {
  /*font-size: calc(6px + 1vmin);*/
}

@media (prefers-reduced-motion: no-preference) {
}

.panelContainer {
  width: 100vw;
  height: 100vh;
}

@media all and (min-width: 640px) {
  .panelContainer {
    display: flex;
    align-items: stretch;
  }

  .panelMain {
    width: 320px;
    height: 100vh;
    flex: 1 1 auto;
  }

  .panelDetail {
    width: 320px;
    height: 100vh;
    flex: 2 1 auto;
  }
}

@media all and (max-width: 639px) {
  .panelContainer {
    white-space: nowrap;
    overflow: hidden;
  }

  .panelMain {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    transform: translateX(0);
    transition: transform 0.3s;
  }
  .panelMain.right {
    transform: translateX(-100%);
  }

  .panelDetail {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    transform: translateX(0);
    transition: transform 0.3s;
  }
  .panelDetail.right {
    transform: translateX(-100%);
  }
}

.panelMain {
  position: relative;

  display: flex;
  flex-direction: column;
}

.actionBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;

  width: 52px;
  height: 52px;
  border-radius: 26px;
  font-size: 6ex;
}
.actionBtn > span {
  position: relative;
  top: -6px;
}

.panelDetail {
  box-sizing: border-box;

  position: relative;

  background-color: #eeeeee;
  overflow-x: hidden;
}


.App-header {
  min-height: 3em;
  flex: 0 0 auto;

  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.App-header input {
  margin-left: 1ex;
  flex: 1 1 auto;
}
.count {
  margin-left: 1.5ch;
  margin-right: 1.5ch;
  min-width: 3ch;
}

.list{
  flex: 1 1 auto;
}

.advice {
  position: absolute;
  margin: 0 auto;
  left: 2ch;
  right: 2ch;
  top: 6ch;
  max-width: 52ch;
  padding: 1ch;
  background: #d0f0ff;
  border: 1px solid;
  border-radius: 1ch;
}
.advice h2 {
  margin-block-start: 0;
  margin-block-end: 1ex;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight:bold;
  font-size: larger;
  text-align: center;
  text-transform: capitalize;
}

.error {
  position: absolute;
  margin: 0 auto;
  left: 2ch;
  right: 2ch;
  top: 6ch;
  max-width: 52ch;
  padding: 1ch;
  background: #ff9c9c;
  border: 1px solid;
  border-radius: 1ch;
}
.error h2 {
  margin-block-start: 0;
  margin-block-end: 1ex;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight:bold;
  font-size: larger;
  text-align: center;
  text-transform: capitalize;
}
