.App {
}

@media (prefers-reduced-motion: no-preference) {
}

html {
  touch-action: none;
  overflow: hidden;
}
body {
  touch-action: none;
  overflow: hidden;
}
#root {
  touch-action: none;
  overflow: hidden;
}

.panelContainer {
  height: 100vh;
  height: 100dvh;
  touch-action: none;
  overflow-x: hidden;

  display: flex;
  align-items: stretch;
}

.panel, .separator {
  height: 100vh;
  height: 100dvh;
}

.separator {
  width: 1px;
  background: #666666;
  flex: 0 0 auto;
}

@supports (-webkit-touch-callout: none) {   /* Safari iOS */
  .panelContainer {
    height: -webkit-fill-available;

    white-space: nowrap;
    overflow: hidden;
  }

  .panel, .separator {
    height: -webkit-fill-available;
  }
}

@media (min-width: 641px) and (min-height: 401px) {
  .panelContainer {
    width: 100vw;
    justify-content: center;
    background: #ddd;
  }

  .panelMain {
    width: 320px;
    max-width: 49em;
    flex: 1 1 auto;
  }

  .panelDetail {
    width: 320px;
    max-width: 60ch;
    flex: 10 1 auto;
  }

  .narrowLayoutOnly {
    display: none !important;
  }
}

@media (max-width: 640px), (max-height: 400px) {
  .panelContainer {
    width: 200vw;
    transform: translateX(0);
    transition: transform 0.3s;
  }
  .panelContainer.right {
    transform: translateX(-100vw);
  }

  .panel {
    width: 100vw;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }

  .separator {
    display: none;
  }
}

.panel {
  background: #eee;
  position: relative;

  display: flex;
  flex-direction: column;
}

.panelMain {
  align-items: stretch;
}

.panelDetail {
  /*background-color: #eeeeee;*/
  overflow-x: hidden;
  align-items: center;
}


.appbar input {
  margin-left: 1.5ch;
  flex: 1 1 auto;
  min-width: 10ch;
  font-size: 18px;
}
.appbar .count {
  margin-left: 1.5ch;
  margin-right: 1.5ch;
  min-width: 3ch;
  text-align: center;
}
.appbar .workingInBackground {
  width: 48px;
  height: 48px;
  text-align: center;
  padding-top: 10px;
}

.MuiMenuItem-root {
  font-size: 1.1rem;
  white-space: normal !important;
  justify-content: space-between !important;
}
.MuiMenuItem-root.pseudoDisabled {
  color: silver;
}

.error {
  position: absolute;
  margin: 0 auto;
  left: 2ch;
  right: 2ch;
  top: 6ch;
  max-width: 52ch;
  padding: 1ch;
  background: #ff9c9c;
  border: 1px solid;
  border-radius: 1ch;
}
.error h2 {
  margin-block-start: 0;
  margin-block-end: 1ex;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight:bold;
  font-size: larger;
  text-align: center;
  text-transform: capitalize;
}


/* Remote Storage Widget (not React code) */
#remotestorage-widget {
  position: absolute;
  bottom: 0;
  /*bottom: env(safe-area-inset-bottom);*/
  max-width: 80%;
}

#remotestorage-widget .rs-widget {
  max-width: 95vw;

  -webkit-user-select: none;
  user-select: none;
}
#remotestorage-widget .rs-widget.rs-closed {
  max-width: 56px;
}

