.App {
}

@media (prefers-reduced-motion: no-preference) {
}

html {
  touch-action: none;
  overflow: hidden;
}
body {
  touch-action: none;
  overflow: hidden;
}
#root {
  touch-action: none;
  overflow: hidden;
}

.panelContainer {
  height: 100vh;
  touch-action: none;
  overflow-x: hidden;

  display: flex;
  align-items: stretch;
}

.panel {
  height: 100vh;
}

@supports (-webkit-touch-callout: none) {   /* Safari iOS */
  .panelContainer {
    height: -webkit-fill-available;

    white-space: nowrap;
    overflow: hidden;
  }

  .panel {
    height: -webkit-fill-available;
  }
}

@media all and (min-width: 640px) {
  .panelContainer {
    width: 100vw;
    justify-content: center;
    background: #ddd;
  }

  .panelMain {
    width: 320px;
    max-width: 49em;
    flex: 1 1 auto;
  }

  .panelDetail {
    width: 320px;
    max-width: 37em;
    flex: 3 1 auto;
  }

  .narrowLayoutOnly {
    display: none !important;
  }
}

@media all and (max-width: 639px) {
  .panelContainer {
    width: 200vw;
    transform: translateX(0);
    transition: transform 0.3s;
  }
  .panelContainer.right {
    transform: translateX(-100vw);
  }

  .panel {
    width: 100vw;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
}

.panel {
  background: #eee;
  position: relative;

  display: flex;
  flex-direction: column;
}

.panelMain {
  align-items: stretch;
}

.panelDetail {
  /*background-color: #eeeeee;*/
  overflow-x: hidden;
  align-items: center;
}


.MuiMenuItem-root {
  white-space: normal !important;
}

.list{
  flex: 1 1 auto;
}

.solo {
  position: absolute;
  margin: 0 auto;
  left: 2ch;
  right: 2ch;
  top: 6ch;
}
.trailing {
  margin: 2ch 2ch 10ex 2ch;
}
.advice {
  max-width: 52ch;
  padding: 1ch;
  background: #d0f0ff;
  border: 1px solid;
  border-radius: 1ch;
}
.advice h2 {
  margin-block-start: 0;
  margin-block-end: 1ex;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight:bold;
  font-size: larger;
  text-align: center;
  text-transform: capitalize;
}

.error {
  position: absolute;
  margin: 0 auto;
  left: 2ch;
  right: 2ch;
  top: 6ch;
  max-width: 52ch;
  padding: 1ch;
  background: #ff9c9c;
  border: 1px solid;
  border-radius: 1ch;
}
.error h2 {
  margin-block-start: 0;
  margin-block-end: 1ex;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight:bold;
  font-size: larger;
  text-align: center;
  text-transform: capitalize;
}


/* Remote Storage Widget (not React code) */
#remotestorage-widget {
  position: absolute;
  bottom: 0;
  /*bottom: env(safe-area-inset-bottom);*/
  max-width: 80%;
}

#remotestorage-widget .rs-widget {
  max-width: 95vw;

  -webkit-user-select: none;
  user-select: none;
}
#remotestorage-widget .rs-widget.rs-closed {
  max-width: 56px;
}
