
.MuiToolbar-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.MuiToolbar-root {
    justify-content: space-between;
    min-height: 52px !important;
    max-height: 52px;
    overflow: hidden;

    -webkit-user-select: none;
    user-select: none;
}

/*.MuiButtonBase-root, .MuiInputBase-root {*/
/*    height: 52px;*/
/*}*/

.MuiInputBase-root {
    max-width: 16ch;
}

.MuiSelect-root h1, .MuiSelect-root h2, .MuiSelect-root h3,
.MuiMenuItem-root h1, .MuiMenuItem-root h2, .MuiMenuItem-root h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

[role=textbox] {
    padding: 1rem;
    background-color: white;
}

[role=textbox] > *:first-child {
    margin-top: 0;
}

/** blocks of a plain content note have similar spacing to line breaks within a block */
[role=textbox].unformatted > * {
    margin-block-start: 0.25ex;
    margin-block-end: 0.25ex;
}

details {
    padding: 1rem;
    background-color: pink;
}


h1 {
    margin-block-start: 0;
    margin-block-end: 1ex;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 1ex;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 1.25em;
    text-align: center;
    text-transform: capitalize;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 1ex;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 1em;
    text-align: center;
    text-transform: capitalize;
}

[role=textbox] pre {
    white-space: pre-wrap;
}
