
.MuiToolbar-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.MuiToolbar-root {
    justify-content: space-between;
    min-height: 52px !important;
    max-height: 52px;
    overflow: hidden;

    -webkit-user-select: none;
    user-select: none;
}

.MuiIconButton-edgeStart {
    margin-left: 0 !important;
}

/*.MuiButtonBase-root, .MuiInputBase-root {*/
/*    height: 52px;*/
/*}*/

.MuiToolbar-root .MuiInputBase-root {
    max-width: 16ch;
}

.MuiSelect-root h1, .MuiSelect-root h2, .MuiSelect-root h3,
.MuiMenuItem-root h1, .MuiMenuItem-root h2, .MuiMenuItem-root h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

[role=textbox] {
    padding: 1rem;
    background-color: white;
}

[role=textbox] > *:first-child {
    margin-block-start: 0;
}

[role=textbox] > *:last-child {
    margin-block-end: 0;
}

/** blocks of a plain content note have similar spacing to line breaks within a block */
[role=textbox].unformatted > * {
    margin-block-start: 0.25ex;
    margin-block-end: 0.25ex;
}

details {
    padding: 1rem;
    background-color: rgba(238, 133, 254, 0.35);
}


h1 {
    font-size: 1.4em;
    text-align: center;
    text-transform: capitalize;
    text-transform: none;
}

h2 {
    font-size: 1.2em;
    text-align: center;
    text-transform: capitalize;
    text-transform: none;
}

h3 {
    font-size: 1em;
    text-align: center;
    text-transform: capitalize;
    text-transform: none;
}

[role=textbox] pre {
    white-space: pre-wrap;
}
