
.MuiToolbar-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.MuiToolbar-root {
    justify-content: space-around;
    min-height: 52px !important;
    flex-wrap: wrap;
}
/* on smaller phones, hides second row of tools */
@media (hover: none) and (pointer: coarse) and (max-height: 700px) {
    .MuiToolbar-root {
        height: 52px;
        overflow: hidden;
    }
}

.MuiButtonBase-root, .MuiInputBase-root {
    height: 52px;
}

.MuiSelect-root h1, .MuiSelect-root h2, .MuiSelect-root h3,
.MuiMenuItem-root h1, .MuiMenuItem-root h2, .MuiMenuItem-root h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

[role=textbox] {
    padding: 1rem;
    background-color: white;
}

[role=textbox] > *:first-child {
    margin-top: 0;
}

details {
    padding: 1rem;
    background-color: pink;
}


h1 {
    margin-block-start: 0;
    margin-block-end: 1ex;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 1ex;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 1.25em;
    text-align: center;
    text-transform: capitalize;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 1ex;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 1em;
    text-align: center;
    text-transform: capitalize;
}

[role=textbox] pre {
    white-space: pre-wrap;
}
