
ol.list {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;

    list-style:none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

}

ol.list > li {
    height: 5ex;
    overflow: hidden;

    line-height: 2.5ex;
    word-wrap: break-word;
    font-weight: 400 !important;
    color: #000 !important;
}

ol.list > li:nth-child(odd) {
    background-color: white;
    border: 1em solid white;
}

ol.list > li:nth-child(even) {
    background-color: #eee;
    border: 1em solid #eee;
}

ol.list > li.selected {
    background-color: lightblue;
    border: 1em solid lightblue;
}

ol.list > li > * {
    margin-top: 0;
    margin-bottom: 0;
}

ol.list ul, ol.list ol {
    padding-left: 1em;
}

ol.list th {
    font-weight: normal;
}
