
ol.list {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;

    list-style:none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

}

ol.list > li {
    height: 9ex;
    overflow: hidden;

    line-height: 2.5ex;
    word-wrap: break-word;
    font-weight: 400 !important;
    color: #000 !important;

    border-width: 0;
    position: relative;
}

ol.list > li:nth-child(odd) {
    background-color: white;
}

ol.list > li:nth-child(even) {
    background-color: #eee;
}

ol.list > li.selected {
    background-color: lightblue;
}

.incipit {
    box-sizing: border-box;
    height: 9ex;
    overflow: hidden;
    padding: 2ex 2ex 0 2ex;
    border-bottom: 2ex solid white;
}
ol.list > li:nth-child(even) > .incipit {
    border-color: #eee;
}
ol.list > li.selected > .incipit {
    border-color: lightblue;
}

.incipit > * {
    margin-top: 0;
    margin-bottom: 0;
}

.itemButtons {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.60);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slideFromLeft-appear {
    right: 100%;
}
.slideFromLeft-appear-active {
    right: 0;
    transition: right 333ms;
}
.slideFromLeft-exit {
    right: 0;
}
.slideFromLeft-exit-active {
    right: 100%;
    transition: right 333ms;
}

.itemButtons > button {
    flex: 0 0 auto;

    padding: 2ex;
}

ol.list ul, ol.list ol {
    padding-left: 1em;
}

ol.list th {
    font-weight: normal;
}
