
ol.list {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;

    list-style:none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    -webkit-user-select: none;
    user-select: none;
}

li.summary {
    height: 7.5ex;
    overflow: hidden;

    line-height: 2.5ex;
    word-wrap: break-word;
    font-weight: 400 !important;
    color: #000 !important;

    background-color: white;
    border-width: 0;
    position: relative;
}
li.summary + li.summary {
    border-top: 1px solid #b0b0b0;
}

li.divider {
    height: 2.5ex;
    position: relative;
    background-color: white;
    display: flex;
    align-items: stretch;
}
li.divider > .leftLine {
    height: 2.5ex;
}
li.divider > .humanDate {
    height: 2.5ex;
    margin: 0 1em;
    font-weight: bold;
}
li.divider > .humanDate.today {
    color: #2281aa;
}
li.divider > .rightLine {
    height: 2.5ex;
    flex: 1 1;
}


li.selected {
    background-color: lightblue;
}

.title {
    box-sizing: border-box;
    height: 7.5ex;
    overflow: hidden;
    padding: 1.25ex 2ex 0 2ex;
    border-bottom: 1.25ex solid white;
}
li.selected > .title {
    border-color: lightblue;
}

.itemButtons {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.60);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slideFromLeft-appear {
    right: 100%;
}
.slideFromLeft-appear-active {
    right: 0;
    transition: right 333ms;
}
.slideFromLeft-exit {
    right: 0;
}
.slideFromLeft-exit-active {
    right: 100%;
    transition: right 333ms;
}

.itemButtons > button {
    flex: 0 0 auto;

    padding: 2ex;
}

ol.list ul, ol.list ol {
    padding-left: 1em;
}

ol.list th {
    font-weight: normal;
}
